<link rel="stylesheet" href="style.css">
<body id="css-zen-garden">
<div class="page-wrapper">

<section class="intro" id="zen-intro">
        <h1 id="yvo-meeres"> 🧬 Yvo Ad Ad Meeres – the ROBUST researcher 🪢 </h1>
<p>A robust system can cope with errors. Robustness implies fault-tolerance.</p>
        <p>My research interest is (technical) robustness from an interdisciplinary perspective. I love to describe robust data and communication in a mathematically precise way, from the view-point of neuroscience, cognition and artificial intelligence.</p>
        <p>Mimicking human intelligence for robust behavior in technical systems is one of the goals I would like to accomplish in my life time as a researcher.</p>
        <p>FLOSS in general and especially XMPP are my open-source activities.</p>
        <p>My research methods are drawn from Theoretical Computer Science:
	   Automata Theory, Formal Language Theory and Graph Theory
	   as well as from Language Acquisition Research.</p>
        <p></p>



		<div class="preamble" id="zen-preamble" role="article">
        <h2  class="select" id="work-in-progress">🛠️ WiP 🗜️</h2>
	Work in Progress
        <ul>
        <li>↪️  ↩️  
        <b>Finite State Automata for Directed Acyclic Graphs</b>
        <ul>
        <p>
Analogously to regular string and tree languages, regular directed graph (DAG) languages had been defined in literature. Although called regular, those DAG-languages are way more powerful and, consequently, standard problems have a higher complexity than in the string case. Top-down as well as bottom-up deterministic DAG languages are subclasses of the regular DAG languages. We refine this hierarchy by providing a weaker subclass of the deterministic DAG languages. Obviously, this weaker class exhibits beneficial algorithmic properties.
        <ul>
For a DAG-automaton recognizing a language in this new DAG language class, a classical finite state automaton (FSA) can be constructed whose states enumerate the dangling edges throughout an appropriate run of the DAG-automaton. An edge is called dangling if not yet all of its vertices have been read in the run. This means that an FSA can be used for deciding membership of such DAGs.
        <ul>
The motivation behind this is the transfer of results about regular string languages to graphs. Furthermore, we provide a characterization of the class via the DAG-automaton's rules.
        </p>
        <ul>

	<a href="https://codeberg.org/yvomeeres/pubs/raw/branch/draft/dag-fsa_abstract.md">📑 Abstract</a>
	<a href="https://codeberg.org/yvomeeres/pubs/raw/branch/draft/dag-draft.pdf"> 📑 Paper</a>
	<a href="https://codeberg.org/yvomeeres/pubs/raw/branch/draft/dag-slides-draft.pdf">📽️ Slides</a>
	<a href="https://mov.im/?node/pubsub.movim.eu/dags">❄️  My personal DAG sketchbook in form of a blog with uncommented notes</a>
        </li>
        <li>🔢 <a href="https://github.com/MichaelWehar/FourCornersProblem">FourCornersProblem</a></li>
        <li>🏴‍☠️  L2 Learning Complexity <em>(L2 = non-native language)</em></li>
        <li>📱 ANIS – Artificial and Natural Intelligence in Semantics – with an OS-independent XMPP-based system for smart media access</li>
        </ul>
		</div>


    <h2 class="unnumbered" id="publications">📚 Pubs 📖</h2>
Publications
    <div id="refs" class="references hanging-indent" role="doc-bibliography">
        <div id="ref-vhecc">
        <p>Ad Ad Meeres, Y., and T. A. Pirinen. 2021. “Vowel Harmony Viewed as Error-Correcting Code.” In <em>Proceedings of the Society for Computation in Linguistics</em>. 4, Article 29. <a href="https://scholarworks.umass.edu/scil/vol4/iss1/29/">https://scholarworks.umass.edu/scil/vol4/iss1/29</a>.</p>
        </div>
        <div id="ref-sysmea14">
        <p>Georgi, A., R. Budich, Y. Ad Ad Meeres, R. Sperber, and H. Hérenger. 2014. “An Integrated SDN Architecture for Application Driven Networking.” <em>IARIA Journal on Advances in Systems and Measurements</em> 7 (1&amp;2): 103–14. <a href="https://pure.mpg.de/rest/items/item_2110891_2/component/file_2110890/content">https://pure.mpg.de/rest/items/item_2110891_2/component/file_2110890/content</a>.</p>
        </div>
        <div id="ref-infocomp13">
        <p>Georgi, A., R. Budich, Y. Ad Ad Meeres, R. Sperber, and H. Hérenger. 2013. “An Integrated SDN Architecture for Applications Relying on Huge, Geographically Dispersed Datasets.” In <em>Proceedings of the Third International Conference on Advanced Communications and Computation (Infocomp 2013)</em>, 129–34. <a href="https://pure.mpg.de/rest/items/item_2110896_1/component/file_2110895/content">https://pure.mpg.de/rest/items/item_2110896_1/component/file_2110895/content</a>.</p>
        </div>
<div id="ref-isc2012">
<p>Ad Ad Meeres, Y., R. Budich, and R. Sperber. 2012. “Clouds and the Cloud: Optimized Access to Climate Data Deploying an "Infrastucture as a Service" Cloud.” In <em>International Supercomputing Conference 2012 (ISC2012)</em>.</p>
</div>
        <div id="ref-diplomarbeit">
        <p>Ad Ad Meeres, Y. 2011. “Über den Umgang mit Grammatik <em>(engl.: How to Deal with Grammar)</em>.” Master Thesis. Hamburg, Germany: University of Hamburg. <a href="https://codeberg.org/yvomeeres/pubs/raw/branch/stable/masterthesis.pdf">https://codeberg.org/yvomeeres/pubs/raw/branch/stable/masterthesis.pdf</a>.</p>
        </div>
    </div>
</section>
</div>

CSS style adapted from <a href="http://www.csszengarden.com/217/"> Screen Filler by Elliot Jay Stocks</a>
</body>
